<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles/config.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/market.css">
    <title>MPA</title>
</head>
<body>
    <div id="container">
        <header id="cabecalho">
            <div class="containerLogo">
                <h1 id="tituloPrincipal">Market Planejadores Agroind</h1>
            </div>

            <span id="burger" class="material-icons" onclick="ocultar()">menu</span>
            <menu id="itensMenu">
                <ul class="menu-list">

                    <li><a href="/users" class="menu-item"><span class="material-icons item">home</span>Home</span></a></li>
                    <li><a href="/users/create-offer" class="menu-item"><span class="material-icons item">attach_money</span>Criar Oferta</span></a></li>
                    <li><a href="/users/rewards" class="menu-item"><span class="material-icons item">emoji_events</span>Prêmios</a></li>
                    <li><a href="#" class="menu-item"><span class="material-icons item">settings</span>Configurações</a></li>
                    <li><a href="/" class="menu-item"><span class="material-icons item">logout</span>Encerrar Seção</a></li>
                </ul>
            </menu>
        </header>

        <main id="secaoPrincipal">

            <div class="filtros">
                <label for="filtroOferta" class="label">Filtro Oferta</label>
                <select name="filtroOferta" id="filtroOferta" class="input filtro">
                    <option value="ofertaCompra">Todas</option>
                    <option value="ofertaCompra">Compra</option>
                    <option value="ofertaVenda">Venda</option>
                </select>
                <label for="filtroUnidade" class="label">Filtro Unidade</label>
                <select name="filtroUnidade" id="filtroUnidade" class="input">
                    <option value="unidade1">Todas</option>
                    <option value="unidade1">Unidade 1</option>
                    <option value="unidade2">Unidade 2</option>
                    <option value="unidade3">Unidade 3</option>
                    <option value="unidade4">Unidade 4</option>
                    <option value="unidade5">Unidade 5</option>
                    <option value="unidade6">Unidade 6</option>
                </select>
            </div>

            <div class="ofertas">

                <%for(oferta of ofertas){%>
                    <%if(oferta){%>
                        <div class="boxOferta">
                            <p class="tipoOferta"><%=oferta.tipoOperacao%></p>
                            <ul class="info-principal">
                                <li class="info"><span class="realce-info">Código:</span>  <%=oferta.codigoInsumo%></li>
                                <li class="info"><span class="realce-info">Descrição SAP:</span> <%=oferta.descricaoSAP%></li>
                                <li class="info"><span class="realce-info">Quantidade:</span> <%=oferta.quantidadeProduto%> <%=oferta.unidadeMedida%></li>
                                <li class="info"><span class="realce-info">Nome comercial:</span> <%=oferta.nomeComercial%></li>
                            </ul>
                            
                            <div class="detalhesCard">
                                <p class="exibirDetalhes">Exibir Detalhes ...</p>
                                <ul class="info-secundaria">
                                    <li class="info"><span class="realce-info">Unidade:</span> <%=oferta.unidade%></li>
                                    <li class="info"><span class="realce-info">Planejador:</span> <%=oferta.planejador%></li>
                                    <li class="info"><span class="realce-info">Oferta criada em:</span> <%=oferta.ofertaCriadaEm%></li>
                                    <li class="info"><span class="realce-info">Oferta expira em:</span> <%=oferta.ofertaExpiraEm%></li>
                                    <li class="info"><span class="realce-info">Observação:</span> <%=oferta.observacao%> </li>
                                    <p class="ocultarDetalhes">Ocultar Detalhes ...</p>
                                </ul>    
                                <button type="submit" class="botaoAcao">acao</button>
                            </div>
                        </div>
                    <%}%>
                <%}%>
               
            </div>
        

        </main>

        <footer id="rodape">
            <p>Criado por <strong>@DaniloIDS - 2023</strong> - Todos os direitos reservados</p>
        </footer>
    </div>
    
    <script type="text/javascript" src="../scripts/market.js"></script>

    <script>
        function ocultar(){
            if(itensMenu.style.display == 'block'){
                itensMenu.style.display = 'none'
            } else{
                itensMenu.style.display = 'block'
            }
        }
    </script>
</body>
</html>